/* Footer.css */

.footer {
    background-color:#65a2c7 ;
    color: #ffffffd7;
    padding: 40px 20px;
   
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}
